:root {
  font-family: "Press Start 2P", cursive;
}

.app {
  width: 96vw;
}

img.logo {
  max-width: 20vw;
  cursor: pointer;
  transition: transform 0.3s ease-in;
}

img.logo:hover {
  transform: scale(1.05);
}

.headerContainer {
  display: flex;
  height: 20vh;
  justify-content: space-between;
  margin: 1rem;
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4585e3;
  font-size: 2rem;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  width: 150px;
  height: 120px;
}

.settings {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  box-sizing: border-box;
}

.videoContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -10;
}

.videoBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.videoContent {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding-top: 20vh;
}

.settings button {
  border-radius: 50%;
  aspect-ratio: 1;
  width: 3rem;
  background-color: #6e8dc6;
}

.settings .left,
.settings .right {
  display: flex;
  gap: 0.5rem;
}

.difficultySelector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 40%;
  gap: 5px;
}

.gameOver {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 40%;
  gap: 1rem;
  background-color: #4476cf;
  font-family: "Press Start 2P", cursive;
  border-radius: 12px;
  border: 1px solid black;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  padding: 2rem;
  text-align: center;
}

.gameOver button {
  width: 80%;
  height: 80px;
  background-color: #fbd844;
  font-size: large;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  transition: transform 0.1s ease-out;
}

.gameOver button:active {
  transform: scale(0.95);
}

.remainingCards {
  font-size: 2rem;
  font-weight: 500;
  color: white;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}
