.app {
  width: 96vw;
}

img.logo {
  max-width: 20vw;
  cursor: pointer;
  transition: transform 0.3s ease-in;
}

img.logo:hover {
  transform: scale(1.05);
}

.headerContainer {
  display: flex;
  height: 20vh;
  justify-content: space-between;
  margin: 1rem;
}

.score {
  border: 2px solid black;
}

.settings {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  box-sizing: border-box;
}

.videoContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -10;
}

.videoBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.videoContent {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding-top: 20vh;
}

.settings button {
  border-radius: 50%;
  aspect-ratio: 1;
  width: 3rem;
  background-color: #6e8dc6;
}

.difficultySelector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 40%;
  gap: 5px;
}
